
*, ::after, ::before {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* start navbar */
.header .container{
    padding-top: 5px;
}
.container > .navbar-header, .container > .navbar-collapse{
  padding-top:10px;
}
.navbar-inverse{
	position: fixed;
  padding-top: 15px;
	padding: 0px;
  border: none;
	background-color: transparent;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width:768px){
  .navbar-right{
   float: none;
  }
  .nav-bar{
    margin-bottom: -90px;
  }
  .nav-bar .navbar{
        position: static;
    }
  .navbar-inverse{position: static;}
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
	background-color:transparent;
    color: #3701fe;
	border-radius: 10%;
}


.navbar-inverse .navbar-nav > li > a{
	color: #d6d4d4;
	font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
	margin-left: 5px;
}

.navbar-inverse .navbar-nav  li{
    font-family: sans-serif;
    font-weight: bold;
}

@media (max-width: 767px){
    .navbar-inverse .navbar-nav > li > a{

        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
}
@media (min-width: 768px)and(max-width: 991px){
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
}
@media (min-width: 990px)and(max-width: 1199px){
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
}
@media (min-width: 1200px){
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse{
        max-height: none;
    }
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus
 {
 	background-color:transparent;
 	border-radius: 10%;
 }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus{
    background-color: transparent;
}


.navbar-inverse .navbar-brand{
	color: #d6d4d4;
	font-weight: bold;
	font-size: 25px;
}
.navbar-inverse .navbar-brand span{
	color: #3147b5;
	font-weight: bold;
    font-family: Roboto Slab,Times New Roman,serif;
	font-size: 25px;
}
.navbar-nav > li > .dropdown-menu {
	background-color: transparent;
	border-top: 1px solid #254689;
	min-width: 120px;
	left: 19px;
  top:70px;
	right: auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

}
.navbar-nav > li > .dropdown-menu li > a{
	color: #d6d4d4;
	padding: 6px 20px;
    font-weight: bold;
	-webkit-transition:padding 0.5s ease;
	-moz-transition:padding 0.5s ease;
	-o-transition:padding 0.5s ease;
	transition:padding 0.5s ease;
}
.navbar-nav > li > .dropdown-menu li > a:hover{
	color: #fff;
	background-color:#3701fe;
	padding-left: 27px;

}
.navbar-nav > li > .dropdown-menu .divider{
	background-color:#254689;
}


.button-body{
    margin-top: 360px;
    max-width: 100%;
}

@media (min-width: 991px){
  .button-body{
    margin-top: 360px;
    max-width: 100%;
    position: absolute;
    z-index: 2;
    left: 8%;
    top: 8%;
}

}
@media (max-width: 990px){
  #particles-js{
    display: none;
  }
  .button-body{
    margin-top: 250px;
  }
}


.content a{
    background-color: transparent;
    padding:10px;
    border: 1px solid #8a6969;
    border-right: 1px solid #8a6969;
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-size:20px;
    width: 180px;
}
.content a:hover{
    background-color: #98ddfe;
    color:white;

}
/*End Navbar*/

/*Start Course Description Editing*/
.course-description{
  background-color: #29303b;
  color: #fff;
  margin-top: -20px;
  /* padding-top: 190px; */
  padding-bottom: 225px;
}
#description{
  padding-top: 180px;
}
#description2{
  padding-top:150px;
}
@media (max-width:768px){
  #description{
    padding-top: 50px;
  }
  #description2{
    padding-top:0px;
  }

}

.course-description h1{
  font-weight: bold;
  font-size: 30px;
  font-family: inherit;
  line-height: 1.5
}
.course-description p{
  font-weight: bold;
  font-size: 21px;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 1.5
}
.course-description span{
  font-size: 16px;
  font-family: inherit;
}

.enroll{
  margin-top: 30px;
  padding:20px;
  width: 195px;
  font-weight: bold;
  font-size:20px;
  font-family: Tahoma;
}



/*End Course Description Editing*/

/*Start Section learning Editing*/
.what-you-get{
  background-color: #f9f9f9;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 80px;
}
.what-you-get h1{

    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #636973
}
.what-you-get .media{
  margin-bottom: 30px;
}
.what-you-get .media .media-body{
    font-weight: bold;
    font-family: inherit;
    font-size: 18px;
    margin-top: -5px;
    color: #758194;
}

/*End Section*/

/*Start Section Requirments*/
.requirments h2{
  margin-top: 50px;
  font-weight: 600px;
  font-family: sans-serif;
  margin-bottom: 25px;
}
.requirments ul li{
  font-weight: 600px;
  font-size: 18px;
}

/*End Section*/

/*Start Section Aout-author*/
.about-author{
  padding-top: 200px;
  padding-bottom: 100px;
}
.about-author h2{
  font-weight: 600px;
  font-family: monospace;
  font-size: 25px;
  margin-bottom: 50px;
}
.about-author .media img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc5c5;
  box-shadow: 0px 2px 5px #36064e;
}
.about-author  h5{
  font-weight: 600px;
  font-family: monospace;
  font-size: 25px;
  color: #007791;
  margin-top: 20px;
}
.about-author  h6{
  font-weight: 600px;
  font-family: monospace;
  font-size: 20px;

}
.about-author p{
  font-weight: bold;
  font-size: 18px;
  font-family: monospace;
  color: grey;
}

.about-author .desc ul li{
  display: inline-block;
  margin-top: 50px;
  margin-left: 10px;
}
.about-author .desc{
    margin-top: 50px;
}

.about-author .desc ul li a{
  transition: all 0.5s ease-in-out;
}
.about-author .desc ul li a:hover{
  margin: 5px;
}

/*End Section*/


/*Start Contact Section Editing*/
*, ::after, ::before {
    box-sizing: border-box;


}


.section-image {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}
.section-image .container {
    z-index: 2;
    position: relative;
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}

@media (min-width: 768px)
.container {
    max-width: 720px;
}

@media (min-width: 576px)
.container {
    max-width: 540px;
}

.contactus-1 .row {
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;*/
    margin-right: -15px;
    margin-left: -15px;
}
.section-image .title,
.section-image .card-plain .card-title {
    color: #FFFFFF;
}
.title {
    font-weight: 700;
    padding-top: 30px;

}
h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    line-height: 1.2;
}
.section-image .description,
.section-image .info .icon:not(.icon-circle) {
    color: rgba(255, 255, 255, 0.8);
}

.contactus-1 .info {
    padding: 0;
    margin: 0;
}
.info-horizontal {
    text-align: left !important;
}
/*
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    text-align: center;
}*/
.contactus-1 .info .icon {
    margin-top: 19px;
    color: #FFFFFF;
}
.info-horizontal .icon {
    float: left;
    margin-top: 23px;
    margin-right: 10px;
}

.info-horizontal .icon > i {
    font-size: 2em;
}
/*
.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

.now-ui-icons.location_pin:before {
    content: "\ea47";
}
.info-horizontal .description {
    overflow: hidden;
}
/*.description, .card-description, .footer-big p {
    color: #9A9A9A;
    font-weight: 300;
}*/
.contactus-1 .info .info-title {
    margin-top: 20px;
    color: #FFFFFF;
}
.info .info-title {
    margin: 25px 0 15px;
    padding: 0 15px;
    color: #2c2c2c;
}
h4{
    font-size: 1.5em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.info p {
    color: #888888;
    padding: 0 15px;
    font-size: 1.1em;
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 1rem;
}


.now-ui-icons.tech_mobile:before {
    content: "\ea3e";
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}
@media (min-width: 768px)
.col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.contactus-1 .card-contact {
    margin-top: -7px;
}
.card-raised {
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3);
}
.card {
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    background-color: rgb(255, 255, 255, 0.8);
    overflow-wrap: break-word;
    border-image: initial;
}

form {
    display: block;
    margin-top: 0em;
}
.card .card-header {
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}
.text-center {
    text-align: center!important;
}
.card .card-title {
    margin-top: 15px;
    line-height: 1.25em;
}
.card-title {
    margin-bottom: .75rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.contactus-1 .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.pr-2, .px-2 {
    padding-right: .5rem!important;
}
@media (min-width: 768px)
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
label {
    display: inline-block;
    margin-bottom: 1.5rem;
}
.input-group, .form-group {
    margin-bottom: 10px;
    position: relative;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group .input-group-prepend {
    margin-right: -0px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group .input-group-prepend .input-group-text {
    border-left: 1px solid #E3E3E3 !important;
    border-left: 1px solid #E3E3E3 !important;
    border-bottom-left-radius: 130px;
    border-top-left-radius: 130px;

}
.input-group>.input-group-append:last-child>
.btn:not(:last-child):not(.dropdown-toggle),
.input-group>.input-group-append:last-child>
.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.
btn, .input-group>.input-group-append:not(:last-child)>.input-group-text,
.input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-control:first-child, .input-group-text:first-child,
.input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child >
.btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}
.form-group .input-group-text, .input-group .input-group-text {
    padding: 10px 0 10px 18px;
}
.input-group-text {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #555555;
    padding: -0.5rem 0 -0.5rem -0.3rem;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group-text i {
    width: 17px;
}
.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-bottom-left-radius:10px;
}
.now-ui-icons.users_circle-08:before {
    content: "\ea23";
}
.input-group .form-control:last-child, .input-group-text:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}

.form-group .form-control, .input-group .form-control {
    padding: 10px 18px 10px 18px;
    background-color: rgb(255,255,255,0.7);
    border-radius: 2em;
    font-size: 12px;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.pl-2, .px-2 {
    padding-left: 1.5rem!important;
}
@media (min-width: 768px)
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
.now-ui-icons.text_caps-small:before {
    content: "\ea1b";
}
.input-group, .form-group {
    margin-bottom: 10px;
    position: relative;
}
.now-ui-icons.ui-1_email-85:before {
    content: "\ea2a";
}
.form-group .form-control, .input-group .form-control {
    padding: 10px 18px 10px 18px;
    background-color: white;
}
textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border-bottom: 1px solid #E3E3E3;
    border-radius: 0;
    line-height: 2;
}
.form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.form-check {
    margin-top: .65rem;
    padding-left: 0;
    position: relative;
    display: block;
    padding-left: 1.25rem;
    line-height: 3em;
}
.form-check .form-check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
.form-check input[type="checkbox"], .radio input[type="radio"] {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}


button, input {
    overflow: visible;
}

.form-check .form-check-sign::before,
.form-check .form-check-sign::after {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    top: 0;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.form-check .form-check-sign::after {
    font-family: 'Nucleo Outline';
    content: "\ea22";
    top: 0px;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    color: #555555;
    border: 0;
    background-color: inherit;
}
/*.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 35px;
}*/
.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}
.btn-primary {
    background-color: #f96332;
    color: #FFFFFF;
}
/*.btn, .navbar .navbar-nav > a.btn {
    border-width: 2px;
    font-weight: 400;
    font-size: 0.8571em;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    margin: 10px 1px;
    border-radius: 0.1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #888888;
    color: #FFFFFF;
}*/
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/*.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}*/
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.pull-right {
    float: right;
}
button, input, optgroup, select, textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.section-image:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
}
.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 130px;
    border-top-right-radius: 130px;
    padding: 20px;
    background-color: rgb(255,255,255,0.8);
    font-size: 14px;
}


/* ============ start footer ====== */

.footer1{
 background-color: #373738;
 color: white;

}
.footer1 h2{
  margin: 5px;
  padding: 15px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;

}

.fa{padding:10px}
.footer1 a{
  color: white;
}
.footer1 a:hover{
  color: ;
}

.footer1 p{
  margin: 5px;
  padding-top: 2px;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  min-width: 175px;
}
.footer1 h2{margin: 5px;
  padding: 5px;
  border-bottom: 1px solid white;


}
/*==========================footer2===========================*/
.footer2{

  background-color: #e6e6e6;
  color: black;

}
.footer2 p{
  margin: 8px;
  padding: 8px;
  font-size: 16px;
  font-family:cursive;

}
.myframegmap{
    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 160px;
    width: 90%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  margin-top:15px;
}



@media (max-width: 767px){
.container .description {
    margin-bottom: -10px;
    margin-top: -105px;
    position: absolute;
    top: 50%;
    left: 50%;
    }
}
